
/* head */
 


.menu-complete {
  background-color: white (255, 0, 0, .3);
  border: 1px solid black;
}

nav {
  position: fixed;
  height: 70px;
  width: 100%;
  background-color: white;
  text-align: center;
}



nav ul li {
  list-style: none;
  display: inline-block;
  line-height: 70px;
  margin-right: 30px;
}

nav .logo {
  vertical-align: middle;
  height: 25px;
  padding: 0 21px;
}

nav ul li a {
  line-height: 70px;
  color: black;

}

.bottone {
  display: inline-block;
  padding: 10px 15px;
  background-color: rgb(0, 97, 255);
  line-height: 10px;
  color: white;
}




/* jumbotron */

.content{
  width: 90%;
  max-width: 1300px;
  margin:  123px auto -29px auto;

}

.jumbotron {
  background-color: rgb(180, 208, 231);
  height: 605px;
}

#titolo {
  font-size: 50px;
}

.client-pro {
  min-height: 438px;
}


.img-jumbo {
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-position: center;

}













/* main */


.text-business{
}

#piani {
  padding-top: 100px;
}

.business {
  width: calc(100% / 3);
}

.partner {
  width: calc(100% / 2);
}

.operazioni {
  width: 300px
}