
/* head */

.menu-complete {
  background-color: white (255, 0, 0, .3);
  border: 1px solid black;
}

nav {
  position: fixed;
  height: 70px;
  width: 100%;
  background-color: white;
  text-align: center;
}



nav ul li {
  display: inline-block;
  line-height: 70px;
  margin-right: 30px;
}

nav .logo {
  vertical-align: middle;
  height: 25px;
  padding: 0 21px;
}

nav ul li a {
  line-height: 70px;
  color: black;

}

.bottone {
  display: inline-block;
  padding: 10px 15px;
  background-color: rgb(0, 97, 255);
  line-height: 10px;
  color: white;
}




/* jumbotron */

.content{
  width: 90%;
  max-width: 1300px;
  margin:  75px auto -29px auto;

}

.jumbotron {
  background-color: rgb(180, 208, 231);
  height: 539px;
}

#titolo {
  font-size: 77px;
}

.client-pro {
  min-height: 438px;
  margin-top: 10px;
  line-height: 19px;
}


.img-jumbo {
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-position: center;

}



/* main */

.bottone-extra {
  margin-top: 30px;
}

.barra-special {
  height: 1px;
  width: 65px;
  background-color: black;
  opacity: 0.5;
}

.abbonamento {
  margin-left: 15px;
  margin-top: 20px;
}
.prezzo {
  margin-top: 10px;
}

.people {
  opacity: 0.5;
  margin-top: 10px;
}

.fattura {
  margin-top: 30px;
}

#piani {
  padding-top: 100px;
}

.business {
  width: calc(100% / 3);
}

.partner {
  width: calc(100% / 2);
}

.operazioni {
  width: calc(100% / 3);
}

.ope-text {
  line-height: 100px;
  font-size: 30px;
}


.general-top {
  text-align: center;
  height: 40px;
  padding: 10px;
  border: 1px solid black;
}

.check-blue {
  color: blue;
}


.enterprise {
  margin: 20px 20px;
  position: absolute;
}

.cont-uff {
  position: relative;
  left: 100%;
  bottom: 20px;
}


.partner-drop {
 
  width: 100%;
  height: 410px;
}


.partner-text {
    margin-top: 40px;
    margin-left: 20px;
  }


.description-partner {
  margin-left: 20px;
  margin-top: 35px;
  margin-right: 66px;
  line-height: 25px;
}


.bottone-partner {
  display: inline-block;
  padding: 10px 15px;
  background-color: white;
  border: 1px solid black;
  line-height: 11px;
  color: black;
  margin-left: 20px;
  margin-top: 20px;
}

#switch {
  height: 200px;
  margin-left: 4px;
}


#text-bus {
  padding-left: 10px;
}