
.container {
  width: 60%;
  max-height: 1500px;
  margin: 0 auto;
  background-color: red;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}


.float-left {
  float: left;
}


.float-right {
  float: right;
}


.text-center {
  text-align: center;
}

a{
  text-decoration: none;
}


.bottone {
  display: inline-block;
  padding: 10px 15px;
  background-color: rgb(0, 97, 255);
  line-height: 10px;
  color: white;
}



.w50{
  width: 50%;
}
.w60{
  width: 60%;
}
.w40{
  width: 40%;
}
.w20{
  width: 20%;
}
.w10 {
  width: 10%;
  margin: 20px;
}


/* DEBUG */

.debug {
  background-color: white (255, 0, 0, .3);
  border: 1px solid black;
}

.h100 {
  min-height: 100px;
}

.h200 {
  min-height: 200px;
}

.h300 {
  min-height: 300px;
}
.h500 {
  min-height: 500px;
}

.h700 {
  min-height: 550px;
}